<app-adminheader></app-adminheader>

<main>
    <div class="intro">
      <h1>A Cafe Manager</h1>
      <p>I am a Cafe Manager and I love coffees</p>
      
    </div>
    <div class="achievements">
      
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>My Quotes</h2>
        <p><i>“Actually, this seems to be the basic need of the human heart in nearly every great crisis – a good hot cup of coffee.</i>” <b>– Alexander King</b></p>
      </div>
      <img src="../../assets/cc2.jpg" alt="me">
    </div>
  </main>

  <app-admin-footer></app-admin-footer>