<header class="header">
    <a href="../../assets/c2.jpg" class="logo">Cafe Shop</a>
    <nav>
        <div class="menu">
        <ul>
            <li><a href="/Adminhome">Home</a></li>
            <li id="user-details">
                <a href="#">Users</a>
                <ul id="dropdown-users">
                    
                <li><a href="/Adduser">Add Users</a></li>
                <li><a href="/Userdetails">Show Users</a></li>
        </ul>
            </li>
            <li id="Item-details">
                <a href="#">Items</a>
                <ul id="dropdown-items">
                    
                <li><a href="/Additems">Add Items</a></li>
                <li><a href="/Menuitems">Show Items</a></li>
        </ul>
            </li>

            <li><a href="/Orderdetails">Orders</a></li>
            <li><a href="" class="button">Logout</a></li>
        </ul>
    </div>


</nav>
  </header>

