
<body>
    <div class="nav">
    <div class="logo"><h2>Cafe</h2></div>
    <div class="navlinks">
        <ul>
            <li><a class="navborder" (click)="Userorder()">Home</a></li>
            <li><a class="navborder" (click)="Usermenu()">Menu Items</a></li>
            <li><a class="navborder" (click)="ordercart()">Cart</a></li>
            <li><a class="navborder" (click)="Aboutus()">About</a></li>
            <li><a class="navborder" (click)="Contactus()">Contact</a></li>
            <li><a class="navborder" (click)="logout()">Logout</a></li>
        </ul>
    </div>
    </div>
