<div class="footer">
    <div class="footer1"><h1>My Cafe</h1></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

   <div class="footer2">
    <h2>Services</h2>
    <ul>
        <li><a href="">Sign up</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Order Cafe</a></li>
        <li><a href="">Affliate</a></li>
    </ul>
   </div>
   <div class="footer3">
    <h2>Our Page</h2>
    <ul>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">privacy policy</a></li>
        <li><a href="">Disclaimer</a></li>
    </ul>
   </div>
   <div class="credit">
    <p>Copyright 2023 My Cafe all rights reserved</p>
   </div>
   
</div>
